
hyperspex/.DS_Store

hyperspex/__pycache__/figures.cpython-38.pyc

hyperspex/__pycache__/main.cpython-38.pyc

hyperspex/__pycache__/spim.cpython-38.pyc

hyperspex/style/__pycache__/colordefs.cpython-36.pyc

hyperspex/style/__pycache__/colordefs.cpython-38.pyc

.DS_Store
